# Compute XX and XY distance matrices.
### (Here Pearson corr is used)

### load raw data

In [1]:
import pandas as pd

In [2]:
# TODO: Изменить путь на относительный

X_path = "C:/Users/shchu/Programming/Sarmanova/data/IR/salts_water_basic_IR.csv"
Y_path = "C:/Users/shchu/Programming/Sarmanova/data/outputs/salts_water_basic_output_i.csv"
result_path = "../data/corr/"

In [3]:
df_X = pd.read_csv(X_path, delimiter = ",", header = 0, index_col = 0)
df_Y = pd.read_csv(Y_path, delimiter = ",", header = 0, index_col = 0)[1:]

### Compute correlations

In [4]:
from mask_utils.similarity_functions import pearson_corr

In [5]:
XX_dist, XY_dist = pearson_corr(df_X, df_Y)

### Make masks

In [6]:
from mask_utils.masking import create_mask

In [7]:
level_xx = 0.95
level_xy = 0.0

In [8]:
mask_result = create_mask(XX_dist.to_numpy(), XY_dist, level_xx, level_xy)

In [10]:
mask_result

            Zn  Cu  Li  Fe  Ni  NH4  SO4  NO3
4497.44979   0   0   0   0   0    0    0    0
4495.52121   0   0   0   0   0    0    0    0
4493.59263   0   0   0   0   0    0    0    0
4491.66404   0   0   0   0   0    0    0    0
4489.73546   0   0   0   0   0    0    0    0
...         ..  ..  ..  ..  ..  ...  ...  ...
406.93049    1   0   1   0   0    0    1    0
405.00191    0   1   0   1   1    1    0    1
403.07333    1   0   1   0   0    0    1    0
401.14475    1   1   1   1   1    1    1    1
399.21617    1   1   1   1   1    1    1    1

[2126 rows x 8 columns]

### Save masks

In [11]:
mask_result.to_csv("data/masks/test.csv")